<h1>Login page</h1>
Logged in successfully<br>
Items list has <%= @count %>  elements:
<ul>
   <% @list.todo_items.each do |item| %>
   <li><%= item.title  %> , <%= item.due_date %></li>
   <% end %>
</ul>

<%= link_to 'To Logout page', {:action => 'logoutpage'} %>
